@import "../../style/vars.scss";

.mainHeader {
    height: 80px;
    width: 100%;
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    // border-bottom: 2px dotted black;
    background-color: $main;
    color: white;
    position: relative;
    z-index: 2;
    border-bottom: 2px solid lightgray;
}

.hover {
    display: flex;
    justify-content: center;
    align-items: center;

    .name {
        margin: 0 10px 0 0;
        font-size: 24px;
        font-weight: bold;
    }
}